# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


*.ipch

*.pdb

*.idb
*.ilk

*.tlog
*.db
.vs/client-mod-game-server/v17/Browse.VC.db-wal
.vs/client-mod-game-server/v17/Browse.VC.db-shm
.vs/client-mod-game-server/v17/.suo
client-mod-game-server/x64/Debug/client-mod-game-server.log
.vs/client-mod-game-server/v17/.suo
*.opendb
*.recipe
*.log
.vs/client-mod-game-server/v17/.suo
.vs/client-mod-game-server/v17/.suo
*.vsidx
*.lock
.vs/funny-mbr-overwrite/v17/.suo
*.db-shm
*.db-wal
x64/Debug/funny-mbr-overwrite.vcxproj.FileListAbsolute.txt
